<section>
    <div class="desc">
        {% if editmode %}
        {{ pimcore_wysiwyg("specialContent") }}
        {% else %}
         {{ pimcore_wysiwyg("specialContent").getValue() | raw }}
        {% endif %}
    </div>
</section>