@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --primary-green:#4FC3C5;
    --btn-green:#4FC3C5;
    --btn-white:#fff;
    --text-color-black:#000;
    --text-color-white:#fff;
    --card-black:#212127;
    --card-white:#fff;
    --card-grey:#EDEEF0;
    --card-red-btn:#C0302C;
    --card-green-btn:#D6D900;
    --card-blue-btn:#40A0F0;
    --card-light-green-btn:#4FC3C51C;
}
.demomain {
    margin-bottom: 10PX;
}
h2{
    margin-top:0 !important;
    margin-bottom:10px !important;
}
.demomain h1,.demomain h2{
 background: #C0302C;
 color:#fff;
 text-align: center;
 padding:10px;
 margin:0 !important;
}
.demomain h1{
    font-size: 25px;
}
.demomain h2{
    font-size: 20px;
}
.desc{
    border:1px solid #000;
    padding:10px;
    margin:10px 0;
    font-size: 16px;
    color:#000;
    text-align: center;
}
.twoimages{
    margin:10px 0;
}
.portrait-video{
    height:800px;
}
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 100%; overflow: hidden; 
    max-width: 100%; 
  } 
  
  .embed-container iframe, 
  .embed-container object, 
  .embed-container embed { 
    position: absolute; 
    top: 0; left: 0; 
   width: 100%; 
   height: 100%; 
  }
  @media (max-width:767px){
    .portrait-video{
        height:400px;
    }
  }