{% if editmode %}
{{ pimcore_select("valid_for", {
                "store": [
                ["","Choose any Section"],
                ["just-dropped", "Just Dropped"],
                ["most-wanted", "Most Wanted"],
                ["recent-view","Recentely Viewed"]
                ],
                "reload":true,
                "width":350
                }) }}
{% endif %}
{% if pimcore_select("valid_for").getData() == "just-dropped" %}
 <section class="carousel1 mb-3">
    <h2>{{ pimcore_input("justDropped") }}
    </h2>
    {% if editmode %}
    <div class="item">
               {{ pimcore_image ("image1", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink1',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image2", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink2',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image3", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink3',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image4", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink4',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image5", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink5',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image6", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink6',{
                  "class":"img-fluid",
               }) }}
    </div>
    {% else %}

    <div class="owl-carousel owl-theme">
        <div class="item">
         <a href="{{pimcore_link('imageLink1').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image1").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink2').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image2").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink3').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image3").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink4').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image4").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink5').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image5").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink6').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image6").getImage() }}"/></a>
        </div>
    </div>
    {% endif %}
</section>
{% elseif pimcore_select("valid_for").getData() == "most-wanted" %}
<section class="carousel2 mb-3">
    <h2>{{ pimcore_input("mostWanted") }}</h2>
    {% if editmode %}
    <div class="item">
               {{ pimcore_image ("image7", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink7',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image8", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink8',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image9", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink9',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image10", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink10',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image11", {
                  "title": "Drag your image here",
                  "class":"img-fluid"
               }) }}
               {{ pimcore_link('imageLink11',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image12", {
                  "title": "Drag your image here",
                  "class":"img-fluid"
               }) }}
               {{ pimcore_link('imageLink12',{
                  "class":"img-fluid",
               }) }}
    </div>
    {% else %}

    <div class="owl-carousel owl-theme">
        <div class="item">
         <a href="{{pimcore_link('imageLink7').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image7").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink8').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image8").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink9').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image9").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink10').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image10").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink11').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image11").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink12').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image12").getImage() }}"/></a>
        </div>
    </div>
    {% endif %}
</section>
{% elseif pimcore_select("valid_for").getData() == "recent-view" %}
<section class="carousel3 mb-3">
    <h2>{{ pimcore_input("recentView") }}</h2>
   {% if editmode %}
    <div class="item">
               {{ pimcore_image ("image13", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink13',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image14", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink14',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image15", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink15',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image16", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink16',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image17", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink17',{
                  "class":"img-fluid",
               }) }}
    </div>
    <div class="item">
               {{ pimcore_image ("image18", {
                  "title": "Drag your image here",
                  "class":"img-fluid",
               }) }}
               {{ pimcore_link('imageLink18',{
                  "class":"img-fluid",
               }) }}
    </div>
    {% else %}

    <div class="owl-carousel owl-theme">
        <div class="item">
         <a href="{{pimcore_link('imageLink13').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image13").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink14').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image14").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink15').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image15").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink16').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image16").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink17').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image17").getImage() }}"/></a>
        </div>
        <div class="item">
         <a href="{{pimcore_link('imageLink18').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image18").getImage() }}"/></a>
        </div>
    </div>
    {% endif %}
</section>
{% else %}
{% endif %}
