{% if editmode %}
    {{ pimcore_select("valid_for", {
            "store": [
                ["", "Choose any Font"],
                ["h1", "Header In H1 Font"],
                ["h2", "Header In H2 Font"],
            ],
            "reload":true,
            "width":350
        }) }}
{% endif %}

{% if pimcore_select("valid_for").getData() == "h1" %}
    <section class="demomain">
        <h1>
        {% if  editmode %}
        {{ pimcore_input("H1Header") }}
        {% else %}
        {{ pimcore_input("H1Header").getData()}}
        {% endif %}
        </h1> 
    </section>
{% elseif   pimcore_select("valid_for").getData() == "h2" %}
    <section class="demomain">
        <h2>
        {% if  editmode %}
        {{ pimcore_input("H2Header") }}
        {% else %}
        {{ pimcore_input("H2Header").getData() }}
        {% endif %}
        </h2> 
    </section>
{% else %}
{% endif %}