{% if editmode %}
{{ pimcore_select("valid_for", {
                "store": [
                ["","Choose any Section"],
                ["one-image", "One Image"],
                ["two-images", "Two Images"],
                ["four-images","Four Images"],
                ["image-content","Image with content"]
                ],
                "reload":true,
                "width":350
                }) }}
{% endif %}
{% if pimcore_select("valid_for").getData() == "one-image" %}
<section class="oneimages">
   <div class="row">
      <div class="col-12">
         {% if editmode %}
               {{ pimcore_image ("image1", {
                  "title": "Drag your image here",
                  "class":"img-fluid"
               }) }}
               {{ pimcore_link('imageLink1',{
                  "class":"img-fluid",
               }) }}

         {% else %}
            <a href="{{pimcore_link('imageLink1').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image1").getImage() }}"/></a>
         {% endif %}
      </div>
   </div>
</section>
{% elseif pimcore_select("valid_for").getData() == "two-images" %}
<section class="twoimages">
   <div class="row">
      <div class="col-6">
         {% if editmode %}
               {{ pimcore_image ("image2", {
                  "title": "Drag your image here",
                  "class":"img-fluid"
               }) }}
               {{ pimcore_link('imageLink2',{
                  "class":"img-fluid",
               }) }}
         {% else %}
             <a href="{{pimcore_link('imageLink2').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image2").getImage() }}"/></a>
         {% endif %}
      </div>
      <div class="col-6">
            {% if editmode %}
               {{ pimcore_image ("image3", {
                  "title": "Drag your image here",
                  "class":"img-fluid"
               }) }}
               {{ pimcore_link('imageLink3',{
                  "class":"img-fluid",
               }) }}
            {% else %}
               <a href="{{pimcore_link('imageLink3').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image3").getImage() }}"/></a>
            {% endif %}
      </div>
   </div>
</section>
{% elseif pimcore_select("valid_for").getData() == "four-images" %}
<section class="fourimages">
   <div class="row">
      <div class="col-6 mb-3">
            {% if editmode %}
               {{ pimcore_image ("image4", {
                  "title": "Drag your image here",
                  "class":"img-fluid"
               }) }}
               {{ pimcore_link('imageLink4',{
                  "class":"img-fluid",
               }) }}
            {% else %}
                <a href="{{pimcore_link('imageLink4').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image4").getImage() }}"/></a>
            {% endif %}
      </div>
      <div class="col-6 mb-3">
            {% if editmode %}
               {{ pimcore_image ("image5", {
                  "title": "Drag your image here",
                  "class":"img-fluid"
               }) }}
               {{ pimcore_link('imageLink5',{
                  "class":"img-fluid",
               }) }}
            {% else %}
               <a href="{{pimcore_link('imageLink5').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image5").getImage() }}"/></a>
            {% endif %}
      </div>
      <div class="col-6">
            {% if editmode %}
               {{ pimcore_image ("image6", {
                  "title": "Drag your image here",
                  "class":"img-fluid"
               }) }}
               {{ pimcore_link('imageLink6',{
                  "class":"img-fluid",
               }) }}
            {% else %}
               <a href="{{pimcore_link('imageLink6').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image6").getImage() }}"/></a>
            {% endif %}
      </div>
      <div class="col-6">
            {% if editmode %}
               {{ pimcore_image ("image7", {
                  "title": "Drag your image here",
                  "class":"img-fluid"
               }) }}
               {{ pimcore_link('imageLink7',{
                  "class":"img-fluid",
               }) }}
            {% else %}
              <a href="{{pimcore_link('imageLink7').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image7").getImage() }}"/></a>
            {% endif %}
      </div>
   </div>
</section>
{% elseif pimcore_select("valid_for").getData() == "image-content" %}
<section class="imgcontent mb-3">
   <div class="row">
      <div class="col-6">
            {% if editmode %}
               {{ pimcore_image ("image8", {
                  "title": "Drag your image here",
                  "class":"img-fluid"
               }) }}
               {{ pimcore_link('imageLink8',{
                  "class":"img-fluid",
               }) }}
            {% else %}
               <a href="{{pimcore_link('imageLink8').getHref()}}" target="_blank"><img class="img-fluid" src="{{ pimcore_image("image8").getImage() }}"/></a>
            {% endif %}
      </div>
      <div class="col-6">
            <h2>  {% if  editmode %}
                  {{ pimcore_input("imageContent") }}
                  {% else %}
                  {{ pimcore_input("imageContent").getData() | raw }}
                  {% endif %}
            </h2>
            {% if editmode %}
            {{ pimcore_wysiwyg("imageDesc") }}
            {% else %}
            <p> 
               {{ pimcore_wysiwyg("imageDesc").getValue() | raw }}
            </p>
            {% endif %}

      </div>
   </div>
</section>
{% else %}
{% endif %}