
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Domest</title>
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/demo.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/docs.theme.min.css')}}">
        <!-- Owl Stylesheets -->
        <link rel="stylesheet"
            href="{{asset('assets/owlcarousel/assets/owl.carousel.min.css')}}">
        <link rel="stylesheet"
            href="{{asset('assets/owlcarousel/assets/owl.theme.default.min.css')}}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                {{ pimcore_areablock("myAreablock", {
                  "allowed": ["header","image","video","carousel","wysiwyg"],
                    })
                }}          
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
        <script src="{{asset('assets/vendors/jquery.min.js')}}"></script>
        <script src="{{asset('assets/owlcarousel/owl.carousel.js')}}"></script>
        <script src="{{asset('assets/vendors/highlight.js')}}"></script>
        <script src="{{asset('assets/js/app.js')}}"></script>
        <script src="https://player.vimeo.com/api/player.js"></script>
        <script>
            $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    items:3,
    // responsive:{
    //     0:{
    //         items:1
    //     },
    //     600:{
    //         items:3
    //     },
    //     1000:{
    //         items:5
    //     }
    // }
})
        </script>
    </body>
</html>