{% if editmode %}
{{ pimcore_select("valid_for", {
                "store": [
                ["","Choose any Mode"],
                ["landscape", "Landscape"],
                ["portrait", "Portrait"],
                ],
                "reload":true,
                "width":350
                }) }}
{% endif %}
{% if pimcore_select("valid_for").getData() == "landscape" %}
     <section class="landscape-video mt-3 mb-3">
        <div class="row">
            <div class="col-12">
                {% if editmode %}
                        {{ pimcore_video('attitudeVideo', {
                                allowedTypes: ['vimeo', 'youtube','asset'],
                                width: 900,
                                height: 400,
                                vimeo: {
                                    autoplay: true,
                                    loop: true
                                },
                                youtube: {
                                    autoplay: true,
                                    loop: true
                                },
                                asset:{
                                    autoplay: true,
                                    loop: true
                                }
                            })
                        }}
                {% else %}
                    <div class="embed-container">                    
                        {% set videoId = pimcore_video('attitudeVideo').getId() %}
                            {% if pimcore_video('attitudeVideo').getVideoType() == "youtube" %}
                                <iframe id="ytplayer" type="text/html" width="100%" height="100%"
                                    src="https://www.youtube.com/embed/{{videoId}}?autoplay=1"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin"
                                    allowfullscreen>
                                </iframe>
                            {% elseif pimcore_video('attitudeVideo').getVideoType() == "asset" %}
                                <video width="100%" height="100%" controls>
                                    <source src="{{pimcore_video('attitudeVideo').getVideoAsset()}}" type="video/mp4" allowfullscreen>
                                </video>
                            {% else %} 
                                <iframe
                                        src="https://player.vimeo.com/video/{{videoId}}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                                        frameborder="0"
                                        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
                                        style="position:absolute;top:0;left:0;width:100%;height:100%;"
                                        title="Untitled"></iframe></div><script
                                    src="https://player.vimeo.com/api/player.js"></script>
                                </iframe>

                            {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</section>
{% elseif pimcore_select("valid_for").getData() == "portrait" %}
<section class="portrait-video mb-3">
        {% if editmode %}
            {{ pimcore_video('portraitAttitudeVideo', {
                    allowedTypes: ['vimeo', 'youtube','asset'],
                    width: 900,
                    height: 400,
                    vimeo: {
                        autoplay: true,
                        loop: true
                    },
                    youtube: {
                        autoplay: true,
                        loop: true
                    },
                    asset:{
                        autoplay: true,
                        loop: true
                    }
                })
            }}
        {% else %}
            <div class="embed-container col-6 m-auto">
                {% if pimcore_video('portraitAttitudeVideo').getVideoType() == "youtube" %}
                    {% set videoId = pimcore_video('portraitAttitudeVideo').getId() %}
                    <iframe id="ytplayer" type="text/html" width="100%" height="100%"
                        src="https://www.youtube.com/embed/{{videoId}}?autoplay=1"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen>
                    </iframe>
                {% elseif pimcore_video('portraitAttitudeVideo').getVideoType() == "asset" %}
                    <video width="100%" height="100%" controls>
                        <source src="{{pimcore_video('portraitAttitudeVideo').getVideoAsset()}}" type="video/mp4" allowfullscreen>
                    </video>
                {% else %} 
                    {% set videoId = pimcore_video('portraitAttitudeVideo').getId() %}
                    <iframe
                            src="https://player.vimeo.com/video/{{videoId}}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                            frameborder="0"
                            allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
                            style="position:absolute;top:0;left:0;width:100%;height:100%;"
                            title="Untitled"></iframe></div><script
                        src="https://player.vimeo.com/api/player.js"></script>
                    </iframe>

                {% endif %}
            </div>
        {% endif %}
</section>  
{% else %}
{% endif %}


